<div class="popupContent horizontal loading">
  <div class="image">
    {{ imageID }}
    <img src="">
  </div>
  <div class="info">
    <div class="name">Tame Impala</div>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
    <div class="peoples">with <a class="link" [routerLink]="['/artist/12']">Dennis</a></div>
    <div class="date">4 days ago <button class="editDetails">Edit details</button></div>
  </div>
</div>
<button class="previous"></button>
<button class="next"></button>
